# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [3]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [1]:
# your code here

import requests
link = 'https://github.com/trending/developers'
page = requests.get(link)

# error handling
if(page.status_code==200):
    print('jeej it works')
else:
    print('it doesnt work')
    print('status_code: ', page.status_code)

jeej it works

In [2]:
soup = BeautifulSoup(page.content)
list(soup.children)

NameError: name 'BeautifulSoup' is not defined

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [6]:
# your code here
name = soup.find_all('p',{'class':"f4 text-normal mb-1"})
nickname = soup.find_all('h1',{'class':"h3 lh-condensed"})


name2 = [soup.find_all(class_="h3 lh-condensed")[i].get_text().replace('\n\n            ','').replace('\n ','') for i in range(0,24)]

nickname2 = [soup.find_all(class_="f4 text-normal mb-1")[i].get_text().replace('\n\n            ','').replace('\n ','') for i in range(0,24)]

In [7]:
output = [soup.find_all(class_="h3 lh-condensed")[i].get_text().replace('\n\n            ','').replace('\n ','')+ '(' + soup.find_all('p',{'class':'f4 text-normal mb-1'})[i].get_text().replace("\n\n              ", "" ).replace("\n ", "") + ')' for i in range(0,24)]

output

['Ariel Mashraki(a8m)',
 'Javier Suárez(jsuarezruiz)',
 'David Rodríguez(deivid-rodriguez)',
 'Luís Cobucci(lcobucci)',
 'Mariusz Nowak(medikoo)',
 "Debbie O'Brien(debs-obrien)",
 'Sean McArthur(seanmonstar)',
 'Remi Rousselet(rrousselGit)',
 'Andrew Kane(ankane)',
 'francisco souza(fsouza)',
 'Miek Gieben(miekg)',
 'Bartlomiej Plotka(bwplotka)',
 'Geoff Boeing(gboeing)',
 'Carlos Cuesta(carloscuesta)',
 'Phil Pluckthun(kitten)',
 'Tobias Koppers(sokra)',
 'Nisar Hassan Naqvi(nisarhassan12)',
 'Jason Quense(jquense)',
 'XhmikosR(aeneasr)',
 'hackerman(mpariente)',
 'Pariente Manuel(wojtekmaj)',
 'Wojciech Maj(stsrki)',
 'Mladen Macanović(kzu)',
 'Daniel Cazzulino(balloob)']

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [8]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [3]:
# your code here

import requests
link = 'https://github.com/trending/python?since=daily'
page = requests.get(link)

# error handling
if(page.status_code==200):
    print('jeej it works')
else:
    print('it doesnt work')
    print('status_code: ', page.status_code)

jeej it works

In [4]:
soup = BeautifulSoup(page.content)

list(soup.children)

NameError: name 'BeautifulSoup' is not defined

In [11]:
test= [soup.find_all(class_="h3 lh-condensed")[i].get_text() for i in range(0,25)]

test

['\n\n\n\n        TheAlgorithms /\n\n      Python\n ',
 '\n\n\n\n        vinta /\n\n      awesome-python\n ',
 '\n\n\n\n        trekhleb /\n\n      learn-python\n ',
 '\n\n\n\n        jerry-git /\n\n      learn-python3\n ',
 '\n\n\n\n        gradslam /\n\n      gradslam\n ',
 '\n\n\n\n        ansible /\n\n      ansible\n ',
 '\n\n\n\n        3b1b /\n\n      manim\n ',
 '\n\n\n\n        donnemartin /\n\n      system-design-primer\n ',
 '\n\n\n\n        y1ndan /\n\n      genshin-impact-helper\n ',
 '\n\n\n\n        tensorflow /\n\n      models\n ',
 '\n\n\n\n        Hari-Nagarajan /\n\n      nvidia-bot\n ',
 '\n\n\n\n        edx /\n\n      edx-platform\n ',
 '\n\n\n\n        apache /\n\n      airflow\n ',
 '\n\n\n\n        streamlit /\n\n      streamlit\n ',
 '\n\n\n\n        lorenzodifuccia /\n\n      safaribooks\n ',
 '\n\n\n\n        microsoft /\n\n      cascadia-code\n ',
 '\n\n\n\n        jupyterhub /\n\n      jupyterhub\n ',
 '\n\n\n\n        junyanz /\n\n      pytorch-CycleGAN-and-pix2pix\n ',
 '\n\n\n\n        jackfrued /\n\n      Python-100-Days\n ',
 '\n\n\n\n        returntocorp /\n\n      semgrep\n ',
 '\n\n\n\n        RasaHQ /\n\n      rasa\n ',
 '\n\n\n\n        openai /\n\n      gym\n ',
 '\n\n\n\n        encode /\n\n      django-rest-framework\n ',
 '\n\n\n\n        QUANTAXIS /\n\n      QUANTAXIS\n ',
 '\n\n\n\n        facebookresearch /\n\n      pytorch3d\n ']

In [12]:
name = soup.find_all('h1',{'class':"h3 lh-condensed"})[0]

trending_repo = [soup.find_all(class_="h3 lh-condensed")[i].get_text().replace('\n\n\n\n        ','').replace('/\n\n      ','- ').replace("\n "," ") for i in range(0,25)]

trending_repo

['TheAlgorithms - Python ',
 'vinta - awesome-python ',
 'trekhleb - learn-python ',
 'jerry-git - learn-python3 ',
 'gradslam - gradslam ',
 'ansible - ansible ',
 '3b1b - manim ',
 'donnemartin - system-design-primer ',
 'y1ndan - genshin-impact-helper ',
 'tensorflow - models ',
 'Hari-Nagarajan - nvidia-bot ',
 'edx - edx-platform ',
 'apache - airflow ',
 'streamlit - streamlit ',
 'lorenzodifuccia - safaribooks ',
 'microsoft - cascadia-code ',
 'jupyterhub - jupyterhub ',
 'junyanz - pytorch-CycleGAN-and-pix2pix ',
 'jackfrued - Python-100-Days ',
 'returntocorp - semgrep ',
 'RasaHQ - rasa ',
 'openai - gym ',
 'encode - django-rest-framework ',
 'QUANTAXIS - QUANTAXIS ',
 'facebookresearch - pytorch3d ']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [13]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [14]:
# your code here

from urllib.request import urlopen
from bs4 import BeautifulSoup
import re

html = urlopen('https://en.wikipedia.org/wiki/Walt_Disney')
bs = BeautifulSoup(html, 'html.parser')
images = bs.find_all('img', {'src':re.compile('.jpg')})
for image in images:
    print(image['src']+'\n')

//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg

//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

import requests
link = "https://www.wikipedia.org/"
page = requests.get(link)

# error handling
if(page.status_code==200):
    print('jeej it works')
else:
    print('it doesnt work')
    print('status_code: ', page.status_code)
    
    
page.content

jeej it works

In [16]:
# your code here

soup = BeautifulSoup(page.content)

list(soup.children)

test = soup.find_all("strong")
len(test)

12

In [17]:
languages = [soup.find_all("strong")[i].get_text() for i in range(1,11)]

languages

['English',
 'Español',
 '日本語',
 'Deutsch',
 'Русский',
 'Français',
 'Italiano',
 '中文',
 'Português',
 'Polski']

In [18]:
articles = [soup.find_all("bdi")[i].get_text().replace("\xa0","") for i in range(0,10)]

articles

['6183000+',
 '1637000+',
 '1235000+',
 '2495000+',
 '1672000+',
 '2262000+',
 '1645000+',
 '1155000+',
 '1045000+',
 '1435000+']

In [19]:
print(list(zip(languages,articles)))

[('English', '6183000+'), ('Español', '1637000+'), ('日本語', '1235000+'), ('Deutsch', '2495000+'), ('Русский', '1672000+'), ('Français', '2262000+'), ('Italiano', '1645000+'), ('中文', '1155000+'), ('Português', '1045000+'), ('Polski', '1435000+')]

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [20]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [21]:
# your code here

data = pd.read_html(url)
data[0].head(10)

,Rank,Language,Speakers(millions),% of World pop.(March 2019)[8],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994,Indo-European,Romance
2,3,English,379.0,4.922,Indo-European,Germanic
3,4,Hindi (Sanskritised Hindustani)[9],341.0,4.429,Indo-European,Indo-Aryan
4,5,Bengali,228.0,2.961,Indo-European,Indo-Aryan
5,6,Portuguese,221.0,2.870,Indo-European,Romance
6,7,Russian,154.0,2.000,Indo-European,Balto-Slavic
7,8,Japanese,128.0,1.662,Japonic,Japanese
8,9,Western Punjabi[10],92.7,1.204,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079,Indo-European,Indo-Aryan

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [243]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [8]:
# your code here

data = pd.read_html(url)
data

import requests
link = 'https://www.imdb.com/chart/top'
page = requests.get(link)

# error handling
if(page.status_code==200):
    print('jeej it works')
else:
    print('it doesnt work')
    print('status_code: ', page.status_code)
    
    
page.content

soup = BeautifulSoup(page.content)


list(soup.children)

NameError: name 'pd' is not defined

In [246]:
test_directors

In [245]:
test_directors = list(soup.find_all(class_='titleColumn')[1].find_all('a'))
for director in test_directors:
    print(director.get('title').split(','))

test_directors[0].get('title').split(',')[0]

['Francis Ford Coppola (dir.)', ' Marlon Brando', ' Al Pacino']

'Francis Ford Coppola (dir.)'

In [28]:
test_list = [list(soup.find_all(class_='titleColumn')[i].find_all('a'))[0].get('title').split(',')[0].replace(" (dir.)","") for i in range(0,250)]

test_list

['Frank Darabont',
 'Francis Ford Coppola',
 'Francis Ford Coppola',
 'Christopher Nolan',
 'Sidney Lumet',
 'Steven Spielberg',
 'Peter Jackson',
 'Quentin Tarantino',
 'Sergio Leone',
 'Peter Jackson',
 'David Fincher',
 'Robert Zemeckis',
 'Christopher Nolan',
 'Peter Jackson',
 'Irvin Kershner',
 'Lana Wachowski',
 'Martin Scorsese',
 'Milos Forman',
 'Akira Kurosawa',
 'David Fincher',
 'Roberto Benigni',
 'Fernando Meirelles',
 'Jonathan Demme',
 'Frank Capra',
 'George Lucas',
 'Steven Spielberg',
 'Hayao Miyazaki',
 'Frank Darabont',
 'Christopher Nolan',
 'Bong Joon Ho',
 'Luc Besson',
 'Bryan Singer',
 'Masaki Kobayashi',
 'Roger Allers',
 'Robert Zemeckis',
 'Roman Polanski',
 'James Cameron',
 'Tony Kaye',
 'Charles Chaplin',
 'Alfred Hitchcock',
 'Ridley Scott',
 'Charles Chaplin',
 'Martin Scorsese',
 'Olivier Nakache',
 'Damien Chazelle',
 'Christopher Nolan',
 'Isao Takahata',
 'Thomas Kail',
 'Sergio Leone',
 'Michael Curtiz',
 'Giuseppe Tornatore',
 'Alfred Hitchcock',
 'Ridley Scott',
 'Francis Ford Coppola',
 'Christopher Nolan',
 'Charles Chaplin',
 'Steven Spielberg',
 'Quentin Tarantino',
 'Florian Henckel von Donnersmarck',
 'Todd Phillips',
 'Stanley Kubrick',
 'Andrew Stanton',
 'Stanley Kubrick',
 'Anthony Russo',
 'Billy Wilder',
 'Billy Wilder',
 'Chan-wook Park',
 'Bob Persichetti',
 'Hayao Miyazaki',
 'Stanley Kubrick',
 'Christopher Nolan',
 'Sergio Leone',
 'James Cameron',
 'Makoto Shinkai',
 'Anthony Russo',
 'Lee Unkrich',
 'Sam Mendes',
 'Mel Gibson',
 'Wolfgang Petersen',
 'Rajkumar Hirani',
 'John Lasseter',
 'Akira Kurosawa',
 'Nadine Labaki',
 'Milos Forman',
 'Quentin Tarantino',
 'Richard Marquand',
 'Aamir Khan',
 'Gus Van Sant',
 'Quentin Tarantino',
 'Stanley Kubrick',
 'Darren Aronofsky',
 'Alfred Hitchcock',
 'Fritz Lang',
 'Michel Gondry',
 'Thomas Vinterberg',
 'Nitesh Tiwari',
 'Orson Welles',
 'Sam Mendes',
 'Stanley Kubrick',
 'Vittorio De Sica',
 'Stanley Donen',
 'Charles Chaplin',
 'Stanley Kubrick',
 'Alfred Hitchcock',
 'Guy Ritchie',
 'Brian De Palma',
 'Martin Scorsese',
 'Akira Kurosawa',
 'Jean-Pierre Jeunet',
 'David Lean',
 'Lee Unkrich',
 'George Roy Hill',
 'Fritz Lang',
 'Asghar Farhadi',
 'Denis Villeneuve',
 'Elem Klimov',
 'Sergio Leone',
 'Billy Wilder',
 'Billy Wilder',
 'Robert Mulligan',
 'Pete Docter',
 'Steven Spielberg',
 'Michael Mann',
 'Curtis Hanson',
 'John McTiernan',
 'Terry Gilliam',
 'Akira Kurosawa',
 'Akira Kurosawa',
 'Christopher Nolan',
 'Peter Farrelly',
 'Oliver Hirschbiegel',
 'Majid Majidi',
 'Clint Eastwood',
 'Akira Kurosawa',
 'Billy Wilder',
 'Hayao Miyazaki',
 'Ron Howard',
 'Joseph L. Mankiewicz',
 'Martin Scorsese',
 'John Sturges',
 'Martin Scorsese',
 'Guillermo del Toro',
 'Juan José Campanella',
 'Guy Ritchie',
 'Paul Thomas Anderson',
 'Martin Scorsese',
 'Hayao Miyazaki',
 'Stanley Kramer',
 'Hrishikesh Mukherjee',
 'John Huston',
 'Alfred Hitchcock',
 'Martin McDonagh',
 'Roman Polanski',
 'Charles Chaplin',
 'Martin Scorsese',
 'Çagan Irmak',
 'Ethan Coen',
 'James McTeigue',
 'Ingmar Bergman',
 'Pete Docter',
 "Gavin O'Connor",
 'David Lynch',
 'John Carpenter',
 'M. Night Shyamalan',
 'Danny Boyle',
 'Steven Spielberg',
 'Victor Fleming',
 'Peter Weir',
 'Andrew Stanton',
 'Ingmar Bergman',
 'Ridley Scott',
 'Andrei Tarkovsky',
 'Quentin Tarantino',
 'David Lean',
 'Lenny Abrahamson',
 'Bong Joon Ho',
 'Joel Coen',
 'Yasujirô Ozu',
 'Clint Eastwood',
 'Carol Reed',
 'Elia Kazan',
 'Damián Szifron',
 'Michael Cimino',
 'Sergio Pablos',
 'Jim Sheridan',
 'Adam Elliot',
 'David Fincher',
 'Wes Anderson',
 'Mel Gibson',
 'Richard Linklater',
 'Sriram Raghavan',
 'Steven Spielberg',
 'Gayatri',
 'Ingmar Bergman',
 'Joel Coen',
 'Denis Villeneuve',
 'Ernst Lubitsch',
 'Buster Keaton',
 'Yavuz Turgul',
 'Clyde Bruckman',
 'Dean DeBlois',
 'James Mangold',
 'Steve McQueen',
 'Frank Capra',
 'Stanley Kubrick',
 'George Miller',
 'Clint Eastwood',
 'Sidney Lumet',
 'Rob Reiner',
 'Peter Weir',
 'Stuart Rosenberg',
 'William Wyler',
 'Lasse Hallström',
 'David Yates',
 'Oliver Stone',
 'Sean Penn',
 'James Mangold',
 'Henri-Georges Clouzot',
 'Terry Jones',
 'Chan-wook Park',
 'Ron Howard',
 'François Truffaut',
 'Carl Theodor Dreyer',
 'Andrei Tarkovsky',
 'Tom McCarthy',
 'Terry George',
 'Mathieu Kassovitz',
 'Alejandro G. Iñárritu',
 'Jules Dassin',
 'John G. Avildsen',
 'Hayao Miyazaki',
 'Anurag Kashyap',
 'Pete Docter',
 'Alfred Hitchcock',
 'Rakeysh Omprakash Mehra',
 'Richard Linklater',
 'Kar-Wai Wong',
 'Céline Sciamma',
 'Wim Wenders',
 'Frank Capra',
 'Nishikant Kamat',
 'Oriol Paulo',
 'Rob Reiner',
 'Tate Taylor',
 'Gillo Pontecorvo',
 'Charles Chaplin',
 'James Cameron',
 'Zaza Urushadze',
 'Naoko Yamada',
 'Nuri Bilge Ceylan']

In [42]:
data = pd.read_html(url)
movies = data[0]
movies["Directors"] = test_list



lst = [i.split("(") for i in movies_df["Rank & Title"]]
name = [i[0].split(".") for i in lst]

title= [x[1] for x in name]
year = [i[1].replace(")","") for i in lst]



movies["Title"] = title
movies["year"]=year

movies_full = movies[["Title","year","Directors","IMDb Rating"]]

movies_full

,Title,year,Directors,IMDb Rating
0,Cadena perpetua,1994,Frank Darabont,9.2
1,El padrino,1972,Francis Ford Coppola,9.1
2,El padrino: Parte II,1974,Francis Ford Coppola,9.0
3,El caballero oscuro,2008,Christopher Nolan,9.0
4,12 hombres sin piedad,1957,Sidney Lumet,8.9
...,...,...,...,...
245,El circo,1928,Charles Chaplin,8.0
246,Terminator,1984,James Cameron,8.0
247,Mandarinas,2013,Zaza Urushadze,8.0
248,A Silent Voice,2016,Naoko Yamada,8.0
249,Winter Sleep,Sueño de invierno,Nuri Bilge Ceylan,8.0

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [46]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'

In [6]:
# your code here

import requests
link = 'https://www.imdb.com/list/ls009796553/'
page = requests.get(link)

# error handling
if(page.status_code==200):
    print('jeej it works')
else:
    print('it doesnt work')
    print('status_code: ', page.status_code)
    
    
page.content

soup = BeautifulSoup(page.content)

list(soup.children)

jeej it works

NameError: name 'BeautifulSoup' is not defined

In [69]:
title = [soup.find_all(class_='lister-item-header')[i].get_text().split("\n") for i in range(0,10)]
title

only_title = [i[2] for i in title]
date = [i[3].replace("(","").replace(")","") for i in title]

In [64]:
summary = soup.find_all("p",class_='')[0]

summary = [soup.find_all("p",class_='')[i].get_text().replace("\n    ","") for i in range(0,10)]

summary

['The monstrous spirit of a slain child murderer seeks revenge by invading the dreams of teenagers whose parents were responsible for his untimely death.',
 'The victims of an encephalitis epidemic many years ago have been catatonic ever since, but now a new drug offers the prospect of reviving them.',
 'Two sisters join the first female professional baseball league and struggle to help it succeed amidst their own growing rivalry.',
 'A father becomes worried when a local gangster befriends his son in the Bronx in the 1960s.',
 'When a boy prays for a chance to have a family if the California Angels win the pennant, angels are assigned to make that possible.',
 'In Canton, Mississippi, a fearless young lawyer and his assistant defend a black man accused of murdering two white men who raped his ten-year-old daughter, inciting violent retribution and revenge from the Ku Klux Klan.',
 'In 1839, the revolt of Mende captives aboard a Spanish owned ship causes a major controversy in the United States when the ship is captured off the coast of Long Island. The courts must decide whether the Mende are slaves or legally free.',
 'A "National Geographic" film crew is taken hostage by an insane hunter, who forces them along on his quest to capture the world\'s largest - and deadliest - snake.',
 'Russell, single father balances his work as a lawyer with the care of his five-year-old son, after his wife abandoned them. When she reappears creating turmoil, he must deal with his new love interest and a job opportunity of a lifetime.',
 'A former neo-nazi skinhead tries to prevent his younger brother from going down the same wrong path that he did.']

In [70]:
df = pd.DataFrame()

df["Title"] = only_title
df["Year"] = date
df["Summary"] = summary

df

,Title,Year,Summary
0,Pesadilla en Elm Street,1984,The monstrous spirit of a slain child murderer...
1,Despertares,1990,The victims of an encephalitis epidemic many y...
2,Ellas dan el golpe,1992,Two sisters join the first female professional...
3,Una historia del Bronx,1993,A father becomes worried when a local gangster...
4,Ángeles,1994,When a boy prays for a chance to have a family...
5,Tiempo de matar,1996,"In Canton, Mississippi, a fearless young lawye..."
6,Amistad,1997,"In 1839, the revolt of Mende captives aboard a..."
7,Anaconda,1997,"A ""National Geographic"" film crew is taken hos..."
8,"A Cool, Dry Place",1998,"Russell, single father balances his work as a ..."
9,American History X,1998,A former neo-nazi skinhead tries to prevent hi...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [393]:
#https://openweathermap.org/current

In [442]:
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'



def weather(city):
    test = print(url)
    link = test
    page = requests.get(url)
    page.content
    soup = BeautifulSoup(page.content)
    converting = list(soup)
    converting2= str(page.content).split(",")
    description = converting2[4].split(":")[1].replace("'","")
    wind_Speed = converting2[14].split(":")[2]
    temperature = converting2[7].split(":")[2]
    return "Temperature: " +temperature + " Wind speed: " + wind_Speed + " Description: " + description

weather(city)

Enter the city: Vancouver
http://api.openweathermap.org/data/2.5/weather?q=Vancouver&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric

'Temperature: 5.42 Wind speed: 1 Description: "light rain"'

#### Find the book name, price and stock availability as a pandas dataframe.

In [278]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [7]:

import requests
url = 'http://books.toscrape.com/'
page = requests.get(url)

    
    
page.content

soup = BeautifulSoup(page.content)

test = list(soup.children)

NameError: name 'BeautifulSoup' is not defined

In [597]:

title = [soup.find_all('h3')[i].get_text() for i in range(0,20)]

price = [soup.find_all('p',{"class":"price_color"})[i].get_text().split("\n") for i in range(0,20)]
stock = [soup.find_all('p',{"class":"instock availability"})[i].get_text().replace("\n\n    \n        ","").replace("\n    \n","") for i in range(0,20)]

price2 = [y for x in price for y in x]

In [595]:

df = pd.DataFrame()

df["Title"]= title
df["Price"]=price2
df["Stock"]=stock

df

                                    Title   Price     Stock
0                      A Light in the ...  £51.77  In stock
1                      Tipping the Velvet  £53.74  In stock
2                              Soumission  £50.10  In stock
3                           Sharp Objects  £47.82  In stock
4            Sapiens: A Brief History ...  £54.23  In stock
5                         The Requiem Red  £22.65  In stock
6            The Dirty Little Secrets ...  £33.34  In stock
7                 The Coming Woman: A ...  £17.93  In stock
8                     The Boys in the ...  £22.60  In stock
9                         The Black Maria  £52.15  In stock
10  Starving Hearts (Triangular Trade ...  £13.99  In stock
11                  Shakespeare's Sonnets  £20.66  In stock
12                            Set Me Free  £17.46  In stock
13    Scott Pilgrim's Precious Little ...  £52.29  In stock
14                      Rip it Up and ...  £35.02  In stock
15                  Our Band Could Be ...  £57.25  In stock
16                                   Olio  £23.88  In stock
17        Mesaerion: The Best Science ...  £37.59  In stock
18           Libertarianism for Beginners  £51.33  In stock
19                It's Only the Himalayas  £45.17  In stock

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [701]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

['https://www.emsc-csem.org/Earthquake/?view=1',
 'https://www.emsc-csem.org/Earthquake/?view=2',
 'https://www.emsc-csem.org/Earthquake/?view=3',
 'https://www.emsc-csem.org/Earthquake/?view=4',
 'https://www.emsc-csem.org/Earthquake/?view=5']

In [ ]:
#I have been able to extract info from one url. Could I get the full code? I think it's very interesting.

In [681]:
# your code here

url1 = 'https://www.emsc-csem.org/Earthquake/?view=1'
# your code here

url2 = 'https://www.emsc-csem.org/Earthquake/?view=2'
url3 = 'https://www.emsc-csem.org/Earthquake/?view=3'
url4 = 'https://www.emsc-csem.org/Earthquake/?view=4'
url5 = 'https://www.emsc-csem.org/Earthquake/?view=5'
page = requests.get(url)
 
page.content

soup = BeautifulSoup(page.content)

test = list(soup.children)


data1 = pd.read_html(url1)
data2 = pd.read_html(url2)
data3 = pd.read_html(url3)
data4 = pd.read_html(url4)
data5 = pd.read_html(url5)


data_earthquaks = data1[3]

earthquakes = pd.DataFrame()

earthquakes["Dates & time"] = data_earthquaks["Date & Time UTC"]["12345678910»"]
earthquakes["Latitude"] = data_earthquaks["Latitude degrees"]["12345678910»"]
earthquakes["Latitude2"] = data_earthquaks["Latitude degrees"]["12345678910».1"]
earthquakes["Longitud"] = data_earthquaks["Longitude degrees"]["12345678910»"]
earthquakes["Longitud2"] = data_earthquaks["Longitude degrees"]["12345678910».1"]
earthquakes["Region Name"] = data_earthquaks["Last update [-]"]["12345678910»"]

In [682]:
earthquakes

,Dates & time,Latitude,Latitude2,Longitud,Longitud2,Region Name
0,2020-11-23 18:26:39.309min ago,42.93,N,0.21,E,PYRENEES
1,2020-11-23 18:14:37.021min ago,27.32,S,70.66,W,"ATACAMA, CHILE"
2,2020-11-23 18:05:41.030min ago,6.65,N,126.60,E,"MINDANAO, PHILIPPINES"
3,2020-11-23 17:51:20.245min ago,37.13,N,117.55,W,CENTRAL CALIFORNIA
4,2020-11-23 17:36:57.059min ago,0.78,S,127.64,E,"HALMAHERA, INDONESIA"
5,2020-11-23 17:20:17.81hr 16min ago,19.23,N,155.37,W,"ISLAND OF HAWAII, HAWAII"
6,2020-11-23 17:08:28.01hr 27min ago,9.08,S,114.47,E,"SOUTH OF BALI, INDONESIA"
7,2020-11-23 17:06:47.01hr 29min ago,8.52,S,110.54,E,"JAVA, INDONESIA"
8,2020-11-23 16:58:04.51hr 38min ago,37.35,N,2.08,W,SPAIN
9,2020-11-23 16:56:15.71hr 40min ago,31.72,S,179.75,E,KERMADEC ISLANDS REGION
10,2020-11-23 16:41:35.41hr 54min ago,37.88,N,26.72,E,"DODECANESE ISLANDS, GREECE"
11,2020-11-23 16:13:06.12hr 23min ago,18.75,N,65.10,W,VIRGIN ISLANDS REGION
12,2020-11-23 16:05:30.22hr 30min ago,28.12,N,16.70,W,"CANARY ISLANDS, SPAIN REGION"
13,2020-11-23 16:03:30.02hr 32min ago,9.80,N,83.83,W,COSTA RICA
14,2020-11-23 16:02:13.02hr 34min ago,38.52,N,29.85,W,"AZORES ISLANDS, PORTUGAL"
15,2020-11-23 16:02:05.52hr 34min ago,39.44,N,38.55,E,EASTERN TURKEY
16,2020-11-23 15:40:23.72hr 56min ago,56.12,N,164.51,E,KOMANDORSKIYE OSTROVA REGION
17,2020-11-23 15:35:45.03hr 00min ago,38.62,N,29.82,W,"AZORES ISLANDS, PORTUGAL"
18,2020-11-23 15:31:54.73hr 04min ago,37.93,N,27.09,E,WESTERN TURKEY
19,2020-11-23 15:28:28.03hr 07min ago,18.88,N,71.01,W,DOMINICAN REPUBLIC
20,2020-11-23 15:25:26.63hr 10min ago,36.95,N,27.40,E,DODECANESE IS.-TURKEY BORDER REG
21,2020-11-23 15:25:22.23hr 11min ago,51.71,N,179.62,E,"RAT ISLANDS, ALEUTIAN ISLANDS"
22,2020-11-23 15:19:32.93hr 16min ago,36.48,N,7.61,W,STRAIT OF GIBRALTAR
23,2020-11-23 15:13:19.03hr 23min ago,17.95,N,66.93,W,PUERTO RICO
24,2020-11-23 15:11:30.03hr 24min ago,36.70,N,141.00,E,"NEAR EAST COAST OF HONSHU, JAPAN"
25,2020-11-23 14:51:08.03hr 45min ago,8.10,S,124.03,E,"KEPULAUAN ALOR, INDONESIA"
26,2020-11-23 14:48:30.03hr 47min ago,10.56,N,85.33,W,COSTA RICA
27,2020-11-23 14:48:12.43hr 48min ago,34.30,N,25.13,E,"CRETE, GREECE"
28,2020-11-23 14:42:32.03hr 53min ago,1.16,N,127.43,E,"HALMAHERA, INDONESIA"
29,2020-11-23 14:26:24.94hr 09min ago,31.91,N,48.98,E,WESTERN IRAN
30,2020-11-23 14:20:40.04hr 15min ago,28.51,S,70.29,W,"ATACAMA, CHILE"
31,2020-11-23 14:19:09.14hr 17min ago,37.90,N,26.65,E,"DODECANESE ISLANDS, GREECE"
32,2020-11-23 14:12:42.04hr 23min ago,8.85,S,110.34,E,"JAVA, INDONESIA"
33,2020-11-23 14:10:06.24hr 26min ago,36.37,N,97.36,W,OKLAHOMA
34,2020-11-23 14:08:51.34hr 27min ago,38.17,N,117.84,W,NEVADA
35,2020-11-23 13:49:18.84hr 47min ago,36.91,N,104.90,W,NEW MEXICO
36,2020-11-23 13:41:45.34hr 54min ago,28.59,N,87.20,E,WESTERN XIZANG
37,2020-11-23 13:32:02.05hr 04min ago,28.03,S,70.81,W,"ATACAMA, CHILE"
38,2020-11-23 13:30:20.25hr 06min ago,38.75,N,122.71,W,NORTHERN CALIFORNIA
39,2020-11-23 13:26:33.05hr 09min ago,5.66,S,129.14,E,BANDA SEA
40,2020-11-23 13:06:20.45hr 30min ago,38.19,N,117.74,W,NEVADA
41,2020-11-23 13:03:38.05hr 32min ago,24.51,S,68.81,W,"ANTOFAGASTA, CHILE"
42,2020-11-23 13:02:16.05hr 34min ago,21.23,S,68.72,W,"ANTOFAGASTA, CHILE"
43,2020-11-23 12:56:50.05hr 39min ago,20.19,N,70.15,W,DOMINICAN REPUBLIC REGION
44,2020-11-23 12:55:38.25hr 40min ago,46.74,N,112.54,W,WESTERN MONTANA
45,2020-11-23 11:43:28.76hr 52min ago,35.88,N,117.71,W,CENTRAL CALIFORNIA
46,2020-11-23 11:34:30.07hr 01min ago,8.53,N,82.87,W,PANAMA-COSTA RICA BORDER REGION
47,2020-11-23 11:31:51.27hr 04min ago,34.95,N,25.39,E,"CRETE, GREECE"
48,2020-11-23 11:23:30.07hr 12min ago,8.41,N,83.05,W,COSTA RICA
49,2020-11-23 11:18:03.07hr 18min ago,56.71,S,67.89,W,DRAKE PASSAGE
50,NaN,NaN,NaN,NaN,NaN,NaN
51,12345678910»,12345678910»,12345678910»,12345678910»,12345678910»,12345678910»
52,NaN,NaN,NaN,NaN,NaN,NaN